extends ../layouts/application.pug

block header
  = t('views.users.settings.settings')

block content
  .row
    .col-3
      .list-group.list-group-flush
        a.nav-link.list-group-item.list-group-item-action(href=route('settings'))= t('views.users.settings.common')
        a.nav-link.list-group-item.list-group-item-action.active(href=route('security'))= t('views.users.settings.security')

    .col-9
      +formFor(user)(id='submitForm' action=route('security') method='post')
        +input(user, 'oldPassword', t('views.users.settings.oldPassword'), errors)(type='password')
        +input(user, 'password', t('views.users.settings.newPassword'), errors)(type='password')
        +input(user, 'repeatedPassword', t('views.users.settings.repeatedPassword'), errors)(type='password')
        input(type='hidden' name='_method' value='patch')
        +submit(user)(value=t('views.users.settings.changePassword'))
