extends ../layouts/application.pug

block content
  - const currentUser = reply.request.currentUser;
  - const { assignedToId, statusId, tagsIds = [] } = reply.request.query;

  +confirmModal

  form#filters.border.rounded.p-3(action=route('tasks') method='get')
    +filters(users, statuses, tags)
  hr
  if _.isEmpty(tasks)
    .row.justify-content-center
      .col-auto.mb-4
        span= t('views.tasks.list.empty')
    .row.justify-content-center
      .col-auto.mb-4
        a.btn.btn-primary(href=route('newTask'))= t('views.tasks.list.new')
  else
    .row
      .col.mb-4
        a.btn.btn-primary(href=route('newTask'))= t('views.tasks.list.new')
    .row.row-cols-1.row-cols-md-3
      each task in tasks
        +taskCard(task)
